<ion-content [fullscreen]="true">
    <div class="TopSection">
        <h3 class="Congrats">Congratulations, you've reached the homepage of</h3>
        <h1 class="Name">Julian Baumann</h1>
    </div>

    <div class="Wave">
        <svg xmlns="http://www.w3.org/2000/svg" width="1560" height="259" viewBox="0 0 1560 259">
            <title>wave</title>
            <path class="WavePath" d="M-.5.5s144,172,488,172,436-110,713-110,359,133,359,133v64H.5Z" transform="translate(0.5 -0.5)"/>
        </svg>
    </div>

    <div class="Info">
        <h1>Info</h1>
        <p>So obviously my name is Julian Baumann. I develop Apps, Programs and Websites.</p>
        <p>Currently a trainee at <a class="Link" target="_blank" href="https://www.cyancor.com" >CyanCor</a> </p>
    </div>
    <div class="Projects">
        <h1>Projects</h1>

        <p class="ShowAll">View on <a class="Link" target="_blank" href="https://gitlab.com/users/julianbaumann/projects" >GitLab</a></p>
    </div>

    <div class="Contact">
        <h1>Contact Me</h1>
        <div class="Icons">
            <ion-icon class="Mail" (click)="OpenLink('mailto:julianbaumann1122@gmail.com', '_self')" name="mail-outline"></ion-icon>
            <!-- <ion-icon class="Instagram" (click)="OpenLink('https://instagram.com/julianbaumannn')" name="logo-instagram"></ion-icon> -->
            <ion-icon class="Titter" (click)="OpenLink('https://twitter.com/_Julianba_')" name="logo-twitter"></ion-icon>
        </div>
    </div>

    <div class="Footer">
        <p>
            Copyright © Julian Baumann {{Year}}
        </p>
    </div>
</ion-content>
